
a {
    color: white;
    text-decoration: none;
}

#nav-bar {
    display: flex;
    justify-content: space-around;
    background: rgb(71, 71, 71);
    width: 100%;
}

#nav-bar a {
    border: 1px solid grey;
    width: 100%;
    padding: 1%;
    text-align: center;
    transition: 0.2s;
}

.header-links:hover {
    color: black;
    background: grey;
}
/* -----------------------------------------------*/

#temp-signup-styling {
    border: 1px solid blue;
    width: 50%;
    margin: 2% auto;
    text-align: center;
}

#temp-signup-styling input, button {
    display: block;
    margin: 1% auto;
    font-size: 1.4vw;
}

/* -----------------------------------------------*/

